html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  display: grid;

  grid-template-areas:
    "controls"
    "graph";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}
div#controls {
  grid-area: "controls";
  display: flex;
  justify-content: space-evenly;
}
div#graph {
  grid-area: "graph";
}
.income {
  fill: #4c0;
  stroke: #4c0;
}
.tax {
  fill: #fa0;
  stroke: #fa0;
}
.line {
  fill: none;
  stroke-width: 2;
}
.dot {
  stroke: #fff;
}
div#description {
  position: absolute;
  left: 100px;
  top: 100px;
}

:root {
  --bp-small: 48em; /* 768px */
  --bp-medium: 64em; /* 1024px */
  --bp-large: 85.375em; /* 1366px */
  --bp-xlarge: 120em; /* 1920px */
  --bp-xxlarge: 160em; /* 2560px */

  --base-font-size: 1em;
  --base-line-height: 1.5;
  --header-line-height: 1.25;
}

body {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

@media screen and (min-width: var(--bp-medium)) {
  body {
    font-size: calc(var(--base-font-size) * 1.25);
    line-height: calc(var(--base-line-height) * 1.25);
  }
}

@media screen and (min-width: var(--bp-large)) {
  body {
    font-size: calc(var(--base-font-size) * 1.5);
  }
}

@media screen and (min-width: var(--bp-xlarge)) {
  body {
    font-size: calc(var(--base-font-size) * 1.75);
  }
}

@media screen and (min-width: var(--bp-xxlarge)) {
  body {
    font-size: calc(var(--base-font-size) * 2);
  }
}
